{% extends 'hotel/base.html' %}
{% load staticfiles %}
{% block sub_title_hotel %}
<div class="jumbotron home">
    <h1>Hotel & Tourist Spot in Jeonju</h1>
    <img src="{% static 'images/jeonju.jpg' %}" alt="전주">
</div>
{% endblock %}

{% block sub_content_hotel %}
<div class="container ho_list clearfix">
    <h1 id="tog">Hotel List
        {% if user.is_superuser %}
        <small><a href="{% url 'hotel:hotel_create' %}">호텔 추가</a></small>
        {% endif %}
    </h1>
</div>
<div id="show">
    <table class="table">
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'hotel:hotel_detail' obj.pk %}">{{ obj }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'hotel:hotel_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'hotel:hotel_list' %}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}
