{% extends 'freeboard/base.html' %}

{% block board_title %}
<div class="jumbotron home  " style="background-color: yellow;">
    <h1>Hotel & Tourist Spot in Jeonju</h1>
</div>
{% endblock %}

{% block board_content %}
<h1>자유게시판 <a href="{% url 'board:board_new'%}">새글쓰기</a></h1>
<ol>
    {% for category in categorys %}
    <li><a href="{% url 'board:board_list' %}?category={{ category }}">{{ category }}</a></li>
    {% endfor %}
</ol>
<ul>
{% for board in boards %}
    <li><a href="{% url 'board:board_detail' pk=board.pk %}">{{ board }}</a></li>
    <p>Comments: {{ board.comments.count }}</p>
{% endfor %}
</ul>



{% endblock %}