{% extends 'freeboard/base.html' %}


{% block board_title %}
{% endblock %}


{% block board_content %}
<div class="bo_detail">
    <h1><a href="{% url 'board:board_list' %}">자유게시판</a> <a href="{% url 'board:board_edit' pk=boards.pk %}">수정</a> <a href="{% url 'board:board_remove' pk=boards.pk %}">삭제</a></h1>
    <div>
        <div class="bo_title">{{ boards.title }}</div>
        <div class="bo_text">{{ boards.text }}</div>
    </div>
</div>

<hr>
<a href="{% url 'board:add_comment_to_post' pk=boards.pk %}">댓글달기</a>
{% for comment in boards.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
        <p>ID : {{ comment.author }}</p>
        <p>내용 : {{ comment.text }}</p>
        <p>{{ comment.created_date }}</p>
        {% if not comment.approved_comment %}
        <a href="{% url 'board:comment_approve' pk=comment.pk %}">등록</a>
        <a href="{% url 'board:comment_remove' pk=comment.pk %}">삭제</a>
        {% endif %}
    {% endif %}
{% empty %}
    <p>첫 댓글을 남겨 보세요.(댓글은 작성자에게 행복입니다.^^ )</p>
{% endfor %}


{% endblock %}