{% extends 'freeboard/base.html' %}
{% load staticfiles %}
{% block board_title %}
<div class="jumbotron home">
    <h1>Hotel & Tourist Spot in Jeonju</h1>
    <img src="{% static 'images/jeonju.jpg' %}" alt="전주">
</div>
{% endblock %}

{% block board_content %}
<div class="title clearfix">
    <h1>자유게시판 <small><a href="{% url 'board:board_new'%}" class="new">새글쓰기</a></small></h1>
</div>

<div class="bo_cate clearfix">
    <ul>
        {% for category in categorys %}
        <li><a href="{% url 'board:board_list' %}?category={{ category }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="bo_table">
    <table class="wrap">
        <tr>
            <th>순번</th>
            <th class="bo_lef">제목</th>
            <th>댓글</th>
            <th>작성일</th>
        </tr>
    {% for board in boards %}
        <tr>
            <td>{{ board.id }}</td>
            <td class="bo_lef"><a href="{% url 'board:board_detail' pk=board.pk %}">{{ board }}</a></td>
            <td>{{ board.comments.count }}</td>
            <td>{{ board.created_date|date:"M/d"}}</td>
        </tr>
    {% endfor %}
    </table>
</div><br><br><br><br><br><br>



{% endblock %}