{% extends 'freeboard/base.html' %}


{% block board_title %}
{% endblock %}


{% block board_content %}
<p>{{ boards.id }}번 <a href="{% url 'board:board_edit' pk=boards.pk %}">수정</a> <a href="{% url 'board:board_remove' pk=boards.pk %}">삭제</a></p>

<div>
    <ul>
        <li>제목 : {{ boards.title }}</li>
        <li>내용 : {{ boards.text }}</li>
        <li>작성일 : {{ boards.created_date }}</li>
        <li>수정일 : {{ boards.modified_date }}</li>
    </ul>
</div>

<hr>
<a href="{% url 'board:add_comment_to_post' pk=boards.pk %}">댓글달기</a>
{% for comment in boards.comments.all %}
    <p>ID : {{ comment.author }}</p>
    <p>내용 : {{ comment.text }}</p>
    <p>{{ comment.created_date }}</p>
{% empty %}
    <p>첫 댓글을 남겨 보세요.(댓글은 작성자에게 행복입니다.^^ )</p>
{% endfor %}


{% endblock %}