{% extends 'tourist/base.html' %}
{% load staticfiles %}
{% block tourist_title %}
<div class="jumbotron home">
    <h1>Hotel & Tourist Spot in Jeonju</h1>
    <img src="{% static 'images/jeonju.jpg' %}" alt="전주">
</div>
{% endblock %}

{% block tourist_content %}
<div>
    <h1>Tourist Spot <a href="{% url 'tourist:tourist_create' %}">관광지 추가</a></h1>
</div>

<div>
    <ol>
    {% for obj in object_list %}
        <li><a href="{% url 'tourist:tourist_detail' obj.pk %}">{{ obj }}</a></li>
    {% endfor %}
    </ol>
</div>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'tourist:tourist_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'tourist:tourist_list' %}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}