{% extends 'tourist/base.html' %}
{% load static %}
{% block tourist_title %}
{% endblock %}

{% block tourist_content %}
<div class="tu_detail">
    <h1>관광지 : {{ object.name }} <a href="{% url 'tourist:tourist_edit' pk=tourist.pk %}">수정</a> <a href="{% url 'tourist:tourist_delete' object.pk %}">삭제</a></h1>

    <div class="tu_image">
        <h3>관광지 사진</h3>
            {% for image in object.image_set.all %}
                <img src="{% get_media_prefix %}{{ image }}" alt="{{ image.filename }}">
            {% endfor %}
    </div>

    <div class="tu_intro">
        <h3>관광지 소개</h3>
        <p>{{ object.text }}</p>
    </div>

    <div class="tu_address">
        <h3>관광지 주소</h3>
        <p>{{ object.address }}</p>
    </div>

    <div class="tu_return">
        <p><a href="{% url 'tourist:tourist_list' %}">Tourist List 돌아가기</a></p><br><br><br>
    </div>
</div>
{% endblock %}