@charset "utf-8"; 


/*       초기화       */
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
p {
	margin: 0;
	text-align: justify;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	text-align: justify;
    margin: 0;
	color: black;
}
a {
	color: #464646;
	text-decoration: none;
}


/*       mobile       */

/*    home    */
.home {
	background-color: rgb(104, 104, 103);
}
.home h1 {
	text-align: center;
	height: 100px;
}
.home img {
	max-width: 100%;
	margin-bottom: 20px;
}


/*     base     */

/* .wrap {
	width: 500px;
	margin: auto;
} */
.flo .rig a {
	background-color: skyblue;
	color: #fff;
	display: block;
	text-align: center;
	padding: 7px 0;
	margin-bottom: 1px;
}
.flo .rig a:hover {
	background-color: #464646;
}



/*     hotel      */

/*      list      */
.ho_list {
	color: #fff;
	background-color: skyblue;
}

/*     detail     */

.ho_detail h3 {
	margin-top: 20px;
}
.ho_image img {
	max-width: 100%;
}
.ho_intro {
	display: none;
}
.ho_facility li {
	display: inline-block;
	/* font-size: 17px; */
}
.ho_room li {
	display: inline-block;
}
.ho_return p {
	text-align: right;
}




/*  tablet & desktop  */
@media all and (min-width: 501px) {
	
	/* body {
		color: red;
	} */

	.wrap {
		width: 980px;
		margin: auto;
	}
	.flo {
		background-color: skyblue;
	}
	.flo .rig ul {
		float: left;
		text-align: center;
	}
	.flo .lef {
		float: right;
		padding: 7px 0;
		/* margin: 7px 0; */
	}
	.flo .lef a:hover {
		background-color: #464646;
		padding: 7px 0;
	}
	.flo .rig ul li {
		display: inline-block;
		/* background-color: #fff; */
		/* color: #000; */
		/* text-align: center; */
		/* padding: 7px 0; */
		margin-right: 10px;
		/* border-left: 1px solid #000; */
	}
	.flo .rig ul li a {
		color: #fff;
		/* background-color: #fff; */
		margin-bottom: 0;
		/* margin-left: 20px;
		margin-right: 20px; */
		border-left: 1px solid #fff;
	}
	.flo .rig ul li a:hover {
		background-color: #464646;
	}

	.home img {
		max-width: 100%;
		margin-left: 195px;
	}
	.ho_intro {
		display: block;
	}
	.ho_intro p {
		font-size: 16px;
	}
	.ho_image img {
		width: 100%;
	}
}

