@charset "utf-8"; 


/*       초기화       */
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
p {
	margin: 0;
	text-align: justify;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	text-align: justify;
    margin: 0;
	color: skyblue;
}
a {
	color: #464646;
	text-decoration: none;
}

/*    home    */
.home h1 {
	text-align: center;
}


/*     base     */

.wrap {
	width: 592px;
	margin: auto;
}
.flo .rig a {
	background-color: skyblue;
	color: #fff;
	display: block;
	text-align: center;
	padding: 7px 0;
	margin-bottom: 1px;
}
.flo .rig a:hover {
	background-color: #464646;
}
