@charset "utf-8"; 


/*       초기화       */
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
p {
	margin: 0;
	text-align: justify;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	text-align: justify;
    margin: 0;
	color: #464646;
}
a {
	color: #464646;
	text-decoration: none;
}

/*       mobile       */

/*                hotel               */

/*    home    */
.home {
	background-color: rgb(104, 104, 103);
}
.home h1 {
	text-align: center;
	height: 70px;
	color: skyblue;
}
.home img {
	max-width: 100%;
	margin-bottom: 20px;
}


/*     base     */

/* .wrap {
	width: 500px;
	margin: auto;
} */
.flo .rig a {
	background-color: skyblue;
	color: #fff;
	display: block;
	text-align: center;
	padding: 7px 0;
	margin-bottom: 1px;
}
.flo .rig a:hover {
	background-color: #464646;
}

.title {
	margin-top: 20px;
}
.title .new {
	float: right;
}

/*			hotel			*/

/*      list      */

.mar_bot {
	margin-bottom: 30px;
}

/*     detail     */

.ho_detail h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: skyblue;
}
.ho_image img {
	max-width: 100%;
}
.ho_intro {
	display: none;
}
.ho_facility li {
	display: inline-block;
	/* font-size: 17px; */
}
.ho_room li {
	display: inline-block;
}
.ho_link p a:hover {
	color: skyblue;
}
.ho_return p {
	text-align: right;
	margin-top: 30px;
}
.ho_return p a:hover {
	color: red;
}

/*      edit        */

form.for p input {
	width: 100%;
	font-size: 20px;
}
form.for p label {
	font-size: 20px;
}
form.for p {
	color: #3592cd;
}
form.for p textarea {
	width: 100%;

}
button.but1 {
	width: 25%;
	/*padding-top: 20px;*/
	/*padding-bottom: 20px;*/
	font-size: 20px;
	float: right;
	margin-top: 20px;
}



/*                turist               */

.tu_detail h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: skyblue;
}
.tu_image img {
	max-width: 100%;
}
.tu_intro p, .tu_address p {
	font-size: 20px;
}
.tu_return p {
	text-align: right;
	margin-top: 30px;
}
.tu_return p a:hover {
	color: red;
}



/*                freeboard               */

/*		list		*/


.bo_cate ul {
	margin-top: 20px;
	margin-bottom: 10px;
}
.bo_cate li {
	display: inline-block;
	/* float: left; */
	margin-left: 160px;
}
/* .bo_cate li:last-child {
	float: right;
} */

.bo_cate li a {
	font-size: 25px;
	font-weight: bold;
}


.bo_table table {
	width: 500px;
}

table, th, td {
	border-top: 1px solid rgb(104, 104, 103);
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
	margin: 30px 0;
}
table tr .bo_lef {
	text-align: left;
}
table.table {
	width: 100%;
}
table.table a:hover {
	color: rgb(75, 203, 253);
}

.bo_table table tr td a {
	color: rgb(75, 203, 253);
}

/*		detail		*/

.bo_detail .bo_title {
	font-size: 25px;
	font-weight: bolder;
	margin: 10px 0;
	color: rgb(75, 203, 253);
}

.bo_detail .bo_text {
	font-size: 17px;
}



/*  tablet & desktop  */
@media all and (min-width: 501px) {
	
	/* body {
		color: red;
	} */

	.wrap {
		width: 980px;
		margin: auto;
	}
	.flo {
		background-color: skyblue;
		height: 43px;
	}
	.flo a {
		height: 29px;;
	}
	.flo .rig ul {
		float: left;
	}
	.flo .lef {
		float: right;
		padding: 7px 0;
		/* margin: 7px 0; */
	}
	.flo .lef a:hover {
		/* background-color: #464646; */
		padding: 7px 0;
	}
	.flo .rig ul li {
		display: inline-block;
		/* color: #000; */
		/* text-align: center; */
		/* padding: 7px 0; */
		/* margin-right: 10px; */
		/* border-left: 1px solid #000; */
		margin-left: 30px;
		width: 150px;
	}
	.flo .rig ul li a {
		color: #fff;
		margin-bottom: 0;
		font-size: 20px;
		/* margin-left: 20px;
		margin-right: 20px; */
	}
	.flo .rig ul li a:hover {
		background-color: #464646;
		/* padding: 10px; */
	}

	.home img {
		max-width: 100%;
		margin-left: 195px;
	}
	.ho_intro {
		display: block;
	}
	/* .ho_image img {
		width: 100%;
	} */
	.ho_intro p, .ho_facility li, .ho_room li {
		font-size: 20px;
		color: #464646;
	}



	/*		board		*/
	.bo_table table {
		width: 980px;
	}
	
	/* table, th, td {
		border-top: 1px solid blue;
		border-collapse: collapse;
		padding: 10px;
		text-align: center;
	}
	table tr .bo_lef {
		text-align: left;
	}
	
	.bo_table table tr td a {
		color: rgb(75, 203, 253);
	} */



}

