@charset "utf-8"; 


/*       초기화       */
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
p {
	margin: 0;
	text-align: justify;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	text-align: justify;
    margin: 0;
	color: skyblue;
}
a {
	color: #464646;
	text-decoration: none;
}

/*    home    */
.home {
	background-color: rgb(104, 104, 103);
}
.home h1 {
	text-align: center;
	height: 100px;
}
/* .home img {
	width: 400px;
} */


/*     base     */

.wrap {
	width: 592px;
	margin: auto;
}
.flo .rig a {
	background-color: skyblue;
	color: #fff;
	display: block;
	text-align: center;
	padding: 7px 0;
	margin-bottom: 1px;
}
.flo .rig a:hover {
	background-color: #464646;
}



/*     hotel      */

/*      list      */
.ho_list {
	color: #fff;
	background-color: skyblue;
}

/*     detail     */

.ho_detail h3 {
	margin-top: 20px;
}
.ho_intro p {
	font-size: 16px;
}
.ho_facility li {
	display: inline-block;
	/* font-size: 17px; */
}
.ho_room li {
	display: inline-block;
}
.ho_return p {
	text-align: right;
}
