{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<div class="home">
    <h1>Hotel & Tourist Spot in Jeonju</h1>
    <div>
        <img src="{% static 'images/jeonju.jpg' %}" alt="전주" style="width: 590px; height: 390px;">
    </div>
</div>
{% endblock %}

{% block content %}
<p style="margin-bottom: 20px;">Hotel & Tourist Spot in Jeonju</p>

<h3>관리자</h3>
<p>ID : tlaqudgkr</p>
<p>PW : qudgkr123</p>
<h3>회원</h3>
<p>ID : sim</p>
<p style="margin-bottom: 20px;">PW : qudgkr123</p>
<h3>각 챕터별 프로그램 언어 사용 내용</h3>
<p>Html, css, jquery, javascript, python, Django, bootstrap 기능을 사용</p><br>
<h3><a href="{% url 'hotel:hotel_list' %}">Hotel</a></h3><span>: html, css, Javascript, python, Django</span>
<h3><a href="{% url 'tourist:tourist_list' %}">Tourist Spot</a></h3><span>: html, css, Javascript, python, Django</span>
<h3><a href="{% url 'board:board_list' %}">자유게시판</a></h3><span>: html, css, python, Django</span><br><br><br><br>
{% if user.is_authenticated %}
{% else %}로그인 후 보다 많은 기능을 확인해 보세요^^.
{% endif %}


{% endblock %}